* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --texto-cinza: #929a98;
  --text-cinza-escuro: #605f61;
  --fundo-claro: #f5f5f5;
  --texto-claro: #f9f9f9;
  --rodape: #468f82;
}

.container-cabecalho{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: var(--fundo-claro);
  padding: 10px;
  z-index: 900;
}

.link-topo {
  width: 30%;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  color: var(--text-cinza-escuro);
  text-decoration: none;
  padding: 10px;

}

.link-topo span {
  color: #4c7df7;
}

.btn-mobile{
  display: none;
}

.topo-navegacao{
  align-items: center;
  width: 40%;
  padding: 10px;
}

.topo-navegacao ul{
  width: 80%;
  display: flex;
  justify-content: space-between;
  
}
.topo-navegacao li{
  list-style: none;
}

.topo-navegacao a{
  font-size: 1.3rem;
  font-weight: normal;
  color: var(--text-cinza-escuro);
  text-decoration: none;
  padding: 10px;
}

.imagem-de-fundo {
  width: 100%;
  height: 200px;
  background-image: url("../assets/img-fundo.jpg");
  background-size: cover;
  padding-top: 300px;
}

.container-conteudo {
  width: 100%;
  height: auto;
  padding-top: 30px;
}

.principal-texto {
  width: 1024px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

.principal-texto h1 {
  font-size: 32px;
  color: var(--text-cinza-escuro);
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.principal-texto p {
  font-size: 18px;
  color: var(--text-cinza-escuro);
  line-height: 32px;
}

.quartos-pagina {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}

.quartos-pagina div {
  flex: 1 1 300px;
  max-width: 360px;
  height: 200px;
  display: flex;
  text-align: center;
  margin-top: 20px;
}

.quartos-pagina img {
  width: 100%;
  height: 100%;
}

.container-informacao {
  width: 100%;
  height: auto;
}

.container-informacao {
  width: 100%;
  height: auto;
  padding-top: 50px;
}

.informacao-titulo {
  font-size: 14px;
  text-align: center;
  padding: 20px;
}

.informacao-titulo h2 {
  font-size: 18px;
  color: var(--text-cinza-escuro);
}

.informacao-nav nav {
  width: 100%;
  margin: 0 auto;
  
}

.informacao-nav ul {
  width: 1024px;
  height: 60px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}

.informacao-nav li {
  color: var(--text-cinza-escuro);
  padding: 0px 50px 0px 0px;
}

.container-rodape {
  width: 100%;
  height: auto;
  padding: 15px 0 10px;
  background-color: var(--rodape);
}

.rodape-contatos {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--rodape);
  border-bottom: 1px solid #378374;
}

.rodape-contatos p {
  width: 200px;
  font-size: 18px;
  color: var(--texto-claro);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.rodape-contatos a {
  color: var(--texto-claro);
  text-decoration: none;
}

.destaque {
  font-size: 20px;
  color: var(--texto-claro);
  text-align: center;
  font-weight: 700;
  padding-bottom: 20px;
}

.rodape-detalhes {
  font-size: 18px;
  color: var(--texto-claro);
  text-align: center;
  background-color: var(--rodape);
  margin-top: 30px;
}


/*Responsividade para notebook*/

.principal-texto{
  width: 100%;
  padding: 30px 0px;
}

.container-informacao{
  margin: 0 auto;
}

.quartos-pagina div{
  max-width: 310px;
}

.informacao-nav{
  width: 100%;
}

.informacao-nav ul{
  width: 70%;
  gap: 40px;
}

.informacao-nav li{
  padding: 0px;
}

/*Responsividade para hmburger*/
@media screen and (max-width: 880px) {

  #menu.active #lista{
    top: 70px;
    height: calc(100vh - 70px);
    visibility: visible;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: #e7e7e7;
  }

  #lista-item a{
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(39, 37, 37, 0.15);
  }

  .topo-navegacao{
    width: 30%;
  }

  #lista li{
    margin: 60px 0;
  }
  
  .topo-navegacao #lista{
    /* TO DO  trocar para none*/
    display: none;
    position: absolute;
    width: 100%;
    right: 0px;
    text-align: center;
    background-color: #e7e7e7;
    height: 0px;
    transition: .6s;
    z-index: 1000;
  }
  
  .btn-mobile{
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    background: none;
    cursor: pointer;
    gap: .5rem;
    border: none;
  }
  .hamburger{
    display: block;
    border-top: 2px solid;
    width: 20px;
  }

  .hamburger::after, .hamburger::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;

  }

  .topo-navegacao.active .hamburger{
    border-top-color: transparent;
  }
  .topo-navegacao.active .hamburger::after{
    transform: rotate(135deg);
    top: -7px;
  }
  .topo-navegacao.active .hamburger::before{
    transform: rotate(-135deg);
    
  }

  .container-informacao ul{
    height: auto;
  }
  
}

/*Responsividade para celular*/

@media screen and (max-width: 500px) {

  .container-cabecalho{
    width: 100%;
  }

  .imagem-de-fundo{
    display: none;
  }
  
  .container-informacao ul{
    height: auto;
  }
  .rodape-contatos{
    flex-direction: column;
  }
  
  .rodape-contatos p{
    padding: 10px 0px;
    border-bottom: 2px solid;
  }

  .informacao-nav nav{
    width: 100%;
    text-align: center;
  }

  .informacao-nav nav ul{
    gap: 20px;
  }
}