* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  scroll-behavior: smooth;
}
:root {
  --texto-cinza: #929a98;
  --text-cinza-escuro: #605f61;
  --fundo-claro: #f5f5f5;
  --texto-claro: #f9f9f9;
  --rodape: #468f82;
}

.container-cabecalho{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: var(--fundo-claro);
  padding: 10px;
  z-index: 900;
}

.link-topo {
  width: 30%;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  color: var(--text-cinza-escuro);
  text-decoration: none;
  padding: 10px;

}

.link-topo span {
  color: #4c7df7;
}

.btn-mobile{
  display: none;
}

.topo-navegacao{
  align-items: center;
  width: 40%;
  padding: 10px;
}

.topo-navegacao ul{
  width: 80%;
  display: flex;
  justify-content: space-between;
  
}
.topo-navegacao li{
  list-style: none;
}

.topo-navegacao a{
  font-size: 1.3rem;
  font-weight: normal;
  color: var(--text-cinza-escuro);
  text-decoration: none;
  padding: 10px;
}

.container-principal {
  background-image: url(../assets/img-fundo.jpg);
  background-size: cover;
  padding: 100px;
}

.principal-conteudo {
  width: 30%;
  text-align: center;
  padding: 40px;
  height: auto;
  margin: 100px auto;
  border: 1px solid #f5f5f5;
  background-color: rgba(43, 112, 67, 0.5);
}

.principal-conteudo h1 {
  font-size: 40px;
  color: var(--texto-claro);
}

.principal-conteudo p {
  font-size: 20px;
  color: var(--texto-claro);
  margin-top: 20px;
}

.container-conteudo {
  width: 100%;
  height: auto;
  padding-top: 60px;
}

.principal-texto {
  width: 1024px;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
}

.principal-texto h2 {
  font-size: 30px;
  color: var(--text-cinza-escuro);
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.principal-texto p {
  font-size: 18px;
  color: var(--text-cinza-escuro);
  line-height: 32px;
}

.quartos-pagina-principal {
  width: 1024px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.quartos-pagina-principal div {
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.quartos-pagina-principal img {
  width: 100%;
}

.quartos-pagina-principal a {
  font-size: 20px;
  color: var(--text-cinza-escuro);
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 0;
  border-bottom: 3px solid #1f7c48;
}

.rota {
  width: 100%;
  height: auto;
}

.rota iframe {
  width: 100%;
  height: 300px;
  display: block;
  margin: 0 auto;
}

.sobre {
  width: 100%;
  height: auto;
}

.sobre-cards-principal {
  max-width: 1024px;
  margin: 0 auto 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(50% - 30px);
  padding: 5px;
  gap: 10px;
}

.sobre-texto {
  width: 80%;
  text-align: center;
}

.sobre-texto h3 {
  color: var(--text-cinza-escuro);
}

.sobre-texto p {
  color: var(--text-cinza-escuro);
  margin-top: 10px;
}

.sobre-img {
  width: 100px;
  height: 100px;
}

.sobre-img img {
  width: 100%;
  height: 100%;
}

.container-rodape {
  width: 100%;
  height: auto;
  padding: 15px 0 10px;
  background-color: var(--rodape);
}

.rodape-contatos {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--rodape);
  border-bottom: 1px solid #378374;
}
.rodape-contatos p {
  font-size: 18px;
  color: var(--texto-claro);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  gap: 10px;
}

.rodape-contatos a {
  color: var(--texto-claro);
  text-decoration: none;
}

.destaque {
  font-size: 20px;
  color: var(--texto-claro);
  text-align: center;
  font-weight: 700;
  padding-bottom: 20px;
}

.rodape-detalhes {
  font-size: 18px;
  color: var(--texto-claro);
  text-align: center;
  background-color: var(--rodape);
  margin-top: 30px;
}

/* responsividade para tablet */
@media screen and (max-width: 1200px) {
  .container-topo {
    width: 100%;
    position: relative;
  }

  .container-topo-divs {
    width: 100%;
  }

  .principal-conteudo {
    width: 60%;
  }

  .principal-texto {
    width: 100%;
    padding: 0;
  }

  .quartos-pagina-principal {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .quartos-pagina-principal img {
    flex-grow: 1;
    flex-basis: 30%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  .rota {
    width: 90%;
    margin: 0 auto;
  }

  .sobre-cards-principal {
    width: 100%;
    gap: 5px;
  }

  .sobre-texto p {
    width: 95%;
  }
}

@media screen and (max-width: 880px) {

  #menu.active #lista{
    top: 70px;
    height: calc(100vh - 70px);
    visibility: visible;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: #e7e7e7;
  }

  #lista-item a{
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(39, 37, 37, 0.15);
  }

  .topo-navegacao{
    width: 20%;
  }

  #lista li{
    margin: 60px 0;
  }
  
  .topo-navegacao #lista{
    /* TO DO  trocar para none*/
    display: none;
    position: absolute;
    width: 100%;
    right: 0px;
    text-align: center;
    background-color: #e7e7e7;
    height: 0px;
    transition: .6s;
    z-index: 1000;
  }
  
  .btn-mobile{
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    background: none;
    cursor: pointer;
    gap: .5rem;
    border: none;
  }
  .hamburger{
    display: block;
    border-top: 2px solid;
    width: 20px;
  }

  .hamburger::after, .hamburger::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;

  }

  .topo-navegacao.active .hamburger{
    border-top-color: transparent;
  }
  .topo-navegacao.active .hamburger::after{
    transform: rotate(135deg);
    top: -7px;
  }
  .topo-navegacao.active .hamburger::before{
    transform: rotate(-135deg);
    
  }

  .container-informacao ul{
    height: auto;
  }
  
}

/* responsividade para tablet */

@media screen and (max-width: 768px) {
  .container-topo {
    width: 100%;
    position: relative;
  }

  .topo-navegacao{
    width: 30%;
  }

  .principal-conteudo {
    width: 60%;
    padding: 30px;
    margin: 0 auto;
  }

  .container-principal {
    background-image: url(../assets/img-fundo.jpg);
    background-size: cover;
    padding: 100px;
  }

  .principal-texto {
    width: 100%;
    padding: 0;
  }

  .quartos-pagina-principal {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .quartos-pagina-principal img {
    flex-grow: 1;
    flex-basis: 30%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  .rota {
    width: 90%;
    margin: 0 auto;
  }

  .cards {
    width: calc(45%);
    margin: 0 auto;
  }

  .rodape-contatos {
    justify-content: space-around;
  }
  .rodape-contatos p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 10px;
  }

  @media screen and (max-width: 600px) {
    .principal-conteudo {
      width: 100%;
      padding: 20px;
      margin: 0;
    }

    .topo-nav {
      width: 100%;
    }
    .container-principal {
      background-image: none;
      padding: 0;
      margin: 0;
    }
    .principal-conteudo {
      width: 100%;
      padding: 95px 0;
    }
    
    .principal-conteudo h1{
      margin-top: 60px;
    }
    .container-conteudo {
      padding-top: 20px;
    }

    .quartos-pagina-principal {
      margin: 0 auto;
    }

    .rodape-contatos {
      flex-direction: column;
    }

    .rodape-contatos p {
      padding: 10px 0;
      border-bottom: 2px solid;
    }

    .sobre-cards-principal {
      width: 100%;
    }

    .cards {
      width: 90%;
      flex-direction: column;
    }
    .sobre-texto {
      width: 90%;
    }

    .sobre-img {
      width: 250px;
      height: 150px;
    }
  }
}
